# Node.js
node_modules/

# Logs
logs/
*.log

# Build output
dist/
build/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Dependency lock files
package-lock.json

# postgres commant prompt file in vscode
postgres.session.sql
